* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  background: white;
  top: 418px;
  left: 10px;
  display: flex;
}

.logos::before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  content: "";
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  max-width: 1350px;
  display: inline-flex;
  animation: 5s slide infinite linear;
}
.logos-slide img {
  height: 100px;
  margin: 0 20px;
}
